
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.mdl-demo .mdl-layout__header-row {
  padding-left: 40px;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.mdl-demo .mdl-layout__tab-bar-button {
  display: none;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-demo .mdl-layout__tab-bar-container {
  height: 80px;
}
.mdl-demo .mdl-layout__tab-bar {
  padding: 0px;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 80px;
  line-height: 80px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.mdl-demo .mdl-card {
  height: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .mdl-card > * {
  height: auto;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.mdl-demo .mdl-layout__content section{
  position: relative;
  margin-bottom: 36px;
  margin-top: 46px;
}
.mdl-demo section.section--center {
  max-width: 770px;
}

.mdl-demo section.section--center2 {
  max-width: 60%;
  padding-bottom: 30px;
}

.mdl-demo #features section.section--center {
  max-width: 620px;
}
.mdl-demo section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mdl-demo section > .section__play-btn {
  min-height: 200px;
}
.mdl-demo section > header > .material-icons {
  font-size: 3rem;
}
.mdl-demo section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.mdl-demo section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}
.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.mdl-demo section .section__text a {
  text-decoration: none;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 85%;
  height: auto;
  border-radius: 32px;
  margin: 8px 0;
}

.mdl-demo section .section__circle-container2 > .section__circle-container2__circle {
  width: 50%;
  height: auto;
  border-radius: 32px;
  margin: 8px 0;
}

.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}

.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
.mdl-demo #features section {
  margin-bottom: 72px;
}
.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px;
}
.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.mdl-demo .mdl-menu__container {
  z-index: 99;
}

.icones-menu-principal {
    padding: 8%;
    width: auto;
    height: 84%;
}

.add-button {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 15%;
    margin-bottom: 85px;
    z-index: 900;
}

.thirdy-percent-width {
    width: 30%;
    height: auto;
}

.input-field-custom {
    border-color: #212121;
}

.dtl-image {
 text-align: center;
  padding-top: 40px;
}

.field-label {
  font-size: large;
  padding-top: 25px;
padding-left: 8%;
  font-weight: bold;
}

.field-value {
  font-size: medium;
  padding-top: 25px;
  padding-left: 12%;
  overflow-x: auto; /* Use horizontal scroller if needed */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
}

.field-value img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.field-value2 {
  padding-left: 5%;
  overflow-x: auto; /* Use horizontal scroller if needed */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
}

.field-value-main {
  padding-top: 25px;
  font-size: xx-large;
  text-align: center;
}

.my-footer {
  background-color: #424242;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  font-size: medium;
}

.error-msg {
  margin-top: 100px;
  text-align: center;
  font-size: large;
}

.msg {
  margin-top: 100px;
  text-align: center;
  font-size: large;
}

.div-img-index {
  float: left;
  width: 50%;
}

.div-img-index img {
  margin-top: 46px;
  margin-left: 10%;
  width: 80%;
  margin-bottom: 60px;
}

.cadastro-form {
  margin-left: 40px;
  float: right;
  width: 70%;
  background-color: white;
  padding: 20px;
}

.login-form {
  width: 400px;
float: right;
  margin-right: 30px;
  overflow: hidden;
}

.login-form div {

}

.login-form div label {
  font-size: small;
}

.div-class-sup-img {

}

.logo-principal {
  margin-top: 24px;
  height:70% ;
}

h3 {
  margin-left: 20%;
}

.login-field-all {
  width: 30%;
  float: left;
  margin-right: 20px;
}

.login-e-senha{
  margin-top: 50px;
}

.senha-field {
  width: 30%;
  float: left;
}

.btn-login {
  margin-top: 20px;
  float: right;
  width: 25%  ;
  background-color: #FFF;
}

.logout-btn {
  margin-top: 80px;
  margin-right: 80px;
  text-decoration: none;
  font-size: unset;
  color: black;
  float: right;
  background-color: white;
}

.new-cima {
  height: 180px;
}

.sis-func-square {
  margin-top: 80px;
  float: right;
  width: 20%;
  margin-right: 4%;
  margin-bottom: 30px;
}

.sis-func-square a img {
  width: 85%;
  background-color: #81D4FA;
}

.text-below-square {

}

.all-squares {
  margin-left: 10%;
  margin-right: 10%;
}

h3 {
  margin-left: 0%;
}

.field-value3 {
  padding-left: 5%;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
  font-size: medium;
  margin-bottom: 10px;
  color: black;
}

.without-border {
  border-bottom: none !important; 
}

.text-larger {
  font-size: larger;
}

.little-margin-left {
  margin-left: 15px;
}

.custom-card {
  margin: 30px !important;
  margin-bottom: 15px !important;
}

.all-space-perfil {
  margin-top: 40px;
}

.left-side {
  float: left;
  width: 40%;
  padding: 30px;
  margin-left: 3%;
}

.right-side {
  float: left;
  width: 40%;
  padding: 30px;
  margin-left: 3%;
}

.text-for-profile {
  font-size: large;
  margin-bottom: 30px;
}

.text-for-profile2 {
  font-size: large;
  margin-top: 15px;
}

.profile-page-buttons {
  color: white;
  margin-top: 15px;
}

.index-h3 {
  margin-left: 18%;
}

.common-form {
  width: 90%;
  margin-left: 4%;
  margin-right: 4%;
}

.custom-radio {
  margin-left: 2%
}

.d-desc {
  width: 150px;
  overflow-x: auto; /* Use horizontal scroller if needed */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
}

.d-tables {
  margin-top: 20px;
}

.h3-upd-cad-tit {
  margin-left: 30%;
}

.h3-upd-cad-tit2 {
  margin-left: 17%;
}

.em-construcao {
  font-size: 500%;
  margin-left: 30%;
  margin-top: 100px;
}
